# Configuration file

~CONFIG_VERSION: 0.1.0

world-1209573606 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=magn
    B:overlayEnabled=true
}


world-1439611115 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=obsid
    B:overlayEnabled=true
}


world-1868144990 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=@proje
    B:overlayEnabled=true
}


world-482909227 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=energy
    B:overlayEnabled=true
}


world-78688046 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=@buildc

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world-91535244 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1101665689 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=bucket
    B:overlayEnabled=true
}


world1694475088 {
    # Give items instead of showing the recipe.
    B:cheatItemsEnabled=true

    # Hide and unhide items by clicking them in the item list.
    B:editEnabled=false
    S:filterText=@dark

    # Show the list of items next to open guis.
    B:overlayEnabled=true
}


world1763982070 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


world1855637915 {
    B:cheatItemsEnabled=false
    B:editEnabled=false
    S:filterText=
    B:overlayEnabled=true
}


